name: Ruby Gem Release

on:
  release:
    tags:
      - v*
    types: [published]

permissions:
  contents: read

jobs:
  build:
    name: Publish
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: '2.7'
    - name: Publish to RubyGems
      run: |
        rake gem
        gem push pkg/*.gem
      env:
        GEM_HOST_API_KEY: ${{secrets.RUBYGEMS_API_KEY}}
